<div ng-controller="Polls.DashboardController">
    <div class="umb-panel umb-editor-wrapper -no-footer">
        <div class="umb-editor-header" navigation="page.navigation">
            <div class="flex items-center" style="height: 100%;" ng-hide="initializing" aria-hidden="false">
                <div class="flex items-center" style="flex: 1;">
                    <h1 class="umb-panel-header-name">Poll Questions</h1>
                </div>
            </div>
        </div>
        <div class="umb-editor-container umb-panel-body">
            <div class="row-fluid" ng-if="!page.loading">
                <ul>
                    <li class="span4" ng-repeat="question in content.questions" style="margin-top: .4em;">
                        <umb-box>
                            <umb-box-header>
                                <a href="javascript:;" ng-click="navigate(question.Id)" title="{{question.Name}}">
                                    <span style="font-weight: bold;">{{question.Name}}</span>
                                </a>
                            </umb-box-header>
                            <umb-box-content>
                                <div class="umb-listview" ng-if="question.Answers">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr ng-repeat="answer in question.Answers | orderBy:'index'">
                                            <umb-label>{{answer}}</umb-label>
                                            <td style="width: 45px">
                                                <umb-label>{{getResponsesPercentage(question, answer.Id)}} %</umb-label>

                                            </td>
                                            <td>
                                                {{answer.Value}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </umb-box-content>


                            <div ng-if="question.Answers.length < 1">
                                No answers
                            </div>

                        </umb-box>
                    </li>

                </ul>

            </div>
        </div>
        <div class="umb-editor-footer">
            <umb-empty-state position="center">
                
                <umb-button type="button"
                            label="Create question"
                            action="navigate('-1')">
                </umb-button>
            </umb-empty-state>
        </div>
    </div>
    <umb-load-indicator ng-if="page.loading"></umb-load-indicator>
</div>